/* ---- colors ---- */
:root {
--white: #fff;
--disco: #7d177d;
--black: #000;
--dusty-gray: #979797;
}

* {
  font-family: 'Open Sans', sans-serif;
}

/* ---- layout ---- */

.site-footer {
  height: 4.25rem;
  background-color: var(--disco);
}

.footer-languages {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: var(--disco);
  line-height: 1;
}

.language-selector {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1;
  padding: .875rem;
}

.language-link {
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
  padding: .5rem;
}

.language-link:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .footer-languages {
    display: none;
  }
}

/* ---- section ---- */
.category-nav,
.category-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1;
}

.category-list {
  padding: .625rem 0 1.75rem 0;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .category-list {
    display: none;
  }
}

.category-list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  line-height: 1;
  padding: .25rem;
  border-right: 1px solid var(--dusty-gray);
}

.category-list-item:last-child {
  border: 0;
}

.category-link {
  color: var(--black);
  padding: .5rem 0 0 0;
}
  
.head-bar{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: var(--disco);
}


  

